/* --- VARIABLES GLOBALES ---*/

//Colores
$accent-primary:#e56353;
$accent-secondary:#d76c69;
$accent-terciary:#ecbcba;

$light-primary:#fff;
$light-secondary:#e6e7e7;
$light-terciary:#d1d1d1;

$dark-primary:#121619;
$dark-secondary:#222323;
$dark-terciary:#6c6e70;

//Fuentes
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;

//Tamaños
$font-size-xx-large: 4.375rem;
$font-size-x-large: 1.875rem;
$font-size-large: 1.125rem;
$font-size-medium: 1rem;
$font-size-small: 0.75rem;