.header{
    margin: 0;
    height: 80vh;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    background-image: url('/img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-primary;
    font-family: $secondary-font;
    font-style: italic;
    font-weight: 900;
    h1{
        position: relative;
        top: 25%;
        font-size: $font-size-xx-large;
    }
    &__icon{
        position: absolute;
        bottom: 0;
        font-size: 3rem;
        left: 50%;
        margin-left: -1rem;
        &:hover{
            margin-left: -1.025rem;
            font-size: 3.15rem;
        }
    }
}

.block{
    display: block;
}