body{
    font-family: $primary-font;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size-medium;
}

.post{
    padding: 2.5rem;
    line-height: 3rem;
    color: $dark-terciary;
    &__date{
        line-height: 6rem;
        font-family: $secondary-font;
        font-size: $font-size-large;
    }
    &__text{
        padding-bottom: 2rem;
    }
    &__share{
        padding-top: 2rem;
    }
}

.author{
    border-top: 1px solid $light-terciary;
    padding: 3rem;
    text-align: center;
    &__container{
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    &__info{    background-color: $light-primary;    
        &__name{
            font-family: $secondary-font;
            font-size: $font-size-x-large;
            font-style: italic;
        }
        &__rrss{
            a{
                color: $accent-terciary;
            }
        }
    }
    &__bio{
        display: none;
    }
    @media only screen and (min-width: 768px){
        &__bio{
            display:initial;
            text-align: left;
            &__paragraph{
                line-height: 2rem;
            }        
        }
    }
}

